@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    & form {
      padding: 25px;
      border: 3px solid #3062a3;
      border-radius: 5%;
      & h1 {
        text-align: center;
        margin-bottom: 20px;
      }
    }
}

.form-group {
    margin: 10px 0 10px 0;
    & input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #ced4da;
        box-sizing: border-box;
    }
    & label {
      font-weight: bold;
    }
}

button[type=submit] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 100%;
    &:hover {
        background-color: #0056b3;
    }
}

.form-check {
    margin: 10px 0 10px 0;
    & input {
        margin-right: 10px;
    }
}