@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container > .box {
  display: flex;
  width: 50%;
}

.box > .banner {
  width: 40%;
  background-color: #158150;
}

.box > form {
  width: 60%;
}

.container > .box {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.container > .box > .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.container > .box > .banner > h1 {
  color: white;
  font-weight: 200 !important;
  font-size: 2.5rem;
}

.container > .box > .banner > p {
  padding: 0px 20px 0px 20px;
  color: rgba(255, 255, 255, 0.843);
  font-weight: 200 !important;
}

.container > .box > .banner > .logo > img {
  padding: 10px;
  width: 70%;
}

.container > .box > .banner > .logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 80px;
}

.container > .box > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 85px 30px 85px 30px;
}

.container > .box > form > .form-group {
  margin-top: 1.0rem;
  & label {
    font-weight:normal;
    color: gray;
    font-size: 0.7rem;
  }
  & input {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 0px solid #ced4da;
    border-bottom: 1px solid #ced4da;
  }
  & input:focus {
    outline: none;
    border-bottom: 1px solid #158150;
  }
}

.container > .box > form > button[type=submit] {
  background-color: #158150;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 2cqmin;
}

.container > .box > form > button[type=submit]:hover {
  background-color: #0f5e3c;
}

.container > .box > form > .cancelar {
  margin-top: 1.0rem;
  border: none;
  background-color: transparent;
  color: gray;
}


